---
import caravanLogoImg from '../assets/images/parceiros/caravan.svg'
import dogsLogoImg from '../assets/images/parceiros/dogs.svg'
import flexblogLogoImg from '../assets/images/parceiros/flexblog.svg'
import handelLogoImg from '../assets/images/parceiros/handel.svg'
import lesconeLogoImg from '../assets/images/parceiros/lescone.svg'
import ranekLogoImg from '../assets/images/parceiros/ranek.svg'
import surfbotLogoImg from '../assets/images/parceiros/surfbot.svg'
import wildbeastLogoImg from '../assets/images/parceiros/wildbeast.svg'
---

<section class="py-20 xl:py-28">
  <div class="container">
    <h2 class="text-5xl font-semibold lowercase mb-16">
      Nossos parceiros<span class="text-yellow-500">.</span>
    </h2>

    <ul class="grid grid-cols-2 md:grid-cols-4">
      <li class="flex p-8 md:border-l-0">
        <img
          src={caravanLogoImg}
          alt="Caraven"
          loading="lazy"
          class="m-auto flex-grow"
        />
      </li>
      <li class="flex p-8 border-l-[1px] border-neutral-300">
        <img
          src={dogsLogoImg}
          alt="Dogs"
          loading="lazy"
          class="m-auto flex-grow"
        />
      </li>
      <li class="flex p-8 border-t-[1px] md:border-t-0 md:border-l-[1px] border-neutral-300">
        <img
          src={flexblogLogoImg}
          alt="Flexblog"
          loading="lazy"
          class="m-auto flex-grow"
        />
      </li>
      <li class="flex p-8 border-t-[1px] md:border-t-0 border-l-[1px] border-neutral-300">
        <img
          src={handelLogoImg}
          alt="Handel"
          loading="lazy"
          class="m-auto flex-grow"
        />
      </li>
      <li class="flex p-8 border-t-[1px] border-neutral-300">
        <img
          src={lesconeLogoImg}
          alt="Lescone"
          loading="lazy"
          class="m-auto flex-grow"
        />
      </li>
      <li class="flex p-8 border-t-[1px] border-l-[1px] border-neutral-300">
        <img
          src={ranekLogoImg}
          alt="Ranek"
          loading="lazy"
          class="m-auto flex-grow"
        />
      </li>
      <li class="flex p-8 border-t-[1px] md:border-l-[1px] border-neutral-300">
        <img
          src={surfbotLogoImg}
          alt=""
          loading="lazy"
          class="m-auto flex-grow"
        />
      </li>
      <li class="flex p-8 border-t-[1px] border-l-[1px] border-neutral-300">
        <img
          src={wildbeastLogoImg}
          alt=""
          loading="lazy"
          class="m-auto flex-grow"
        />
      </li>
    </ul>
  </div>
</section>
