---
import eletricIcon from '../assets/icons/eletrica.svg'
---

<section class="bg-neutral-950 py-16">
  <div class="container grid grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] lg:grid-cols-3 gap-8">
    <h2 class="col-span-full text-neutral-50 text-5xl font-semibold lowercase mb-16">
      Nossas vantagens<span class="text-yellow-500">.</span>
    </h2>

    <dl>
      <img src={eletricIcon} alt="" width={32} height={32} class="mb-2" />
      <dt class="text-neutral-50 text-2xl mb-3">Reparo Elétrico</dt>
      <dd class="text-neutral-400">
        Garantimos o reparo completo do seu motor em caso de falhas. Sabemos que falhas são raras, mas estamos aqui para caso ocorra.
      </dd>
    </dl>

    <dl>
      <img src={eletricIcon} alt="" width={32} height={32} class="mb-2" />
      <dt class="text-neutral-50 text-2xl mb-3">Carbono</dt>
      <dd class="text-neutral-400">
        Nossos quadros são feitos para durar para sempre. Mas caso algo ocorra, ficamos felizes em reparar.
      </dd>
    </dl>

    <dl>
      <img src={eletricIcon} alt="" width={32} height={32} class="mb-2" />
      <dt class="text-neutral-50 text-2xl mb-3">Sustentável</dt>
      <dd class="text-neutral-400">
        Trabalhamos com a filosofia de desperdicio zero. Qualquer parte defeituosa é reciclada e reutilizada em outro projeto.
      </dd>
    </dl>

    <dl>
      <img src={eletricIcon} alt="" width={32} height={32} class="mb-2" />
      <dt class="text-neutral-50 text-2xl mb-3">Rastreador</dt>
      <dd class="text-neutral-400">
        Utilizamos o GPS da sua Bikcraft em conjunto com especialistas em segurança para efetuarmos a recuperação.
      </dd>
    </dl>

    <dl>
      <img src={eletricIcon} alt="" width={32} height={32} class="mb-2" />
      <dt class="text-neutral-50 text-2xl mb-3">Segurança</dt>
      <dd class="text-neutral-400">
        Com o seguro Bikcraft você pode ficar tranquilo em saber que o seu dinheiro não será perdido em casos de roubo.
      </dd>
    </dl>

    <dl>
      <img src={eletricIcon} alt="" width={32} height={32} class="mb-2" />
      <dt class="text-neutral-50 text-2xl mb-3">Rapidez</dt>
      <dd class="text-neutral-400">
        A sua Bikcraft ficará pronta para uso no mesmo dia, caso você traga ela para ser reparada em uma das filiais.
      </dd>
    </dl>
  </div>
</section>
